/* html {
    background-color: black;
}

hr {
    color: rgb(47, 51, 54);
}


.wd-topnav {
margin: 20px 0;
}

 .wd-input-icons i {
    position: absolute;
    float: left;
}
  
.wd-input-icons {
    width: 90%;
    margin-bottom: 10px;
    float: left;
}
  
.wd-icon {
    padding: 10px;
    min-width: 40px;
}
  
.wd-input-field {
    width: 100%;
    padding: 10px;
    background-color: darkgray;
    padding: 12px 40px; 
    border-radius: 50px;
}
.wd-setting-icon {
    float: right;
    padding: 10px;
    margin-right: 12px;
    font-size: 30px;
    color: #1DA1F2;
}


:link { color: #1DA1F2; }
:visited { color: #1DA1F2; }

.wd-navigation-list {
    list-style: none;
	width: 1000px;
}

.wd-navigation-list li {
    display:block;
	width:120px;
	float:left;
	margin-left:2px;
    
}

.wd-navigation-list a {
	display:block;
	padding:16px;
    font-size: 15px;
	text-decoration:none;
	color:rgb(110, 118, 125);
}

.wd-navigation-list a:hover {
	color:rgb(29,161,242);
}

.wd-navigation-list li.wd-active a {
    color:rgb(29,161,242) !important;
    border-bottom: 2px solid rgb(29,161,242) !important;

}

.wd-content {
    position: absolute;
    top: 120px;
    width: -webkit-fill-available;
}

.wd-postTrending {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-postHeader {
    font-size: 18px;
    color: white;
}

.wd-floatR {
    float: right;
    margin-right: 16px;
    color: white;
    font-size: 20px;
}

.wd-image-card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.wd-postTrendingTitle { 
    color: white;
}
.wd-postTrendingTittleSub {
    color: rgb(110, 118, 125);
}

 */

 html {
    background-color: black !important;
}

 body {
    background-color: black !important;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .wd_search_icon {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    background-color: rgb(110, 118, 125) !important;
    border-color: rgb(110, 118, 125) !important;
  }

  .wd_search_icon_input {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    background-color: rgb(110, 118, 125) !important;
    color: darkgray !important;;
  }

  .form-control {
    border-color: rgb(110, 118, 125) !important;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    font-weight: 700;
    background-color: black !important;
    border-color: black black rgb(29,161,242)  !important;
    border-bottom: 5px solid rgb(29,161,242) !important;
}

.nav-link {
    color: darkgray !important;
    border-color: black;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: black black rgb(29,161,242)  !important;
    border-bottom: 5px solid rgb(29,161,242) !important;
    isolation: isolate;
}

  /* .nav-tabs .nav-item.show .nav-link {
    color: darkgray !important;
    background-color: black !important;
    border-color: black !important;
}

   .nav-tabs .nav-link.active {
    color: white !important;
    background-color: black !important;
    border-top-color: black !important;
    border-bottom-color: 10px solid rgb(29,161,242);
} */

  .btn-primary{
        border-radius: 40px !important;
  }

  .wd_iconText {
    margin-left: 10px;
  }

  .myContainer {
    position: relative;
  text-align: center;
  color: white;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .contentBox .card {
    flex-direction: row;
  }

  .contentBox .card img {
    width: 100px;
  }

  .bold {
    font-weight: bold;
  }

  .contentBox p {
    margin-bottom: 0px !important;
  }

  .wd-postTrendingTittleSub {
    font-weight: 400;
  }

  .logo_sideBar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
  }

  .centerColImgWrapper {
    display: flex;
    margin-right: 13px;
  }

  .wd-sideNavHeader {
    margin-bottom: 0px !important;
    font-size: 15px;
  }

  .wd-postTrendingTittleSubSide {
    font-weight: 400;
    font-size: 13px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray !important;
    opacity: 1 !important; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkgray !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: darkgray !important;
  }

  .card {
    background-color: black !important;
    color: darkgray !important;
    border-color: rgb(110, 118, 125) !important;
  }

  .leftNav .card {
    border-color: black !important;
  }

  .leftNav .list-group-item {
    color: darkgray !important;
    background-color: black !important;
    border-color: black !important;
  }

  .wd-postTrendingTitle { 
    color: white;
}

  